body {
    background-color: lightgray;
    display: flex;
    justify-content: center ;
}

#logo{
    display:flex;
    justify-content: center;
}

#canvas {
    margin: 30px;
    border: 5px solid black;
}

.btn {
    position: absolute;
    left: 250;
}

#basicBtn {
    top: 400px;
}

#timeBtn {
    top: 500px;
}

#tryAgainBtn {
    top: 400px;
    display: none;
}